/* CONTACT section */

/* container of the whole section */
#contact {
    background-image: url("../pictures/computer.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	opacity: 0.9;
}
/* container for writing the contact area */
#contactContainer {
	width: 70%;
	padding: 15px;
}
/* Headers of the content */
.contactHeader {
	color: #ffffff;
	font-weight: bold;
    text-shadow: 5px 5px 5px #000000;
	margin-top: 60px;
}
/* horizonal line of the header */
#contactHrLine {
	  width: 35%;
	  height: 5px;
	  color: #ffffff;
	  margin-top: 0;
}
/* subheaders */
.contactSubheaders {
	color: white;
	font-weight: bold;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;	/* making a border */
}
/* the 3 inputs and the textarea of the contact's form*/
.form-control {	  
	border-radius: 20px/5px;
    box-sizing: border-box; /* padding and borders are included in the total width and height of the elements */
    border-bottom: 2px solid #4d0028;
    box-shadow: none;	  
}
.form-control:focus {
	border-top: 2px solid #4d0028;
	border-right: 2px solid #4d0028;
	border-left: 2px solid #4d0028;
}
/* the 2 buttons of the contact's form */
.btnInputs {
	border: 2px solid #4d0028;
	border-radius: 20px/5px;
	width: 30%;
	margin: 0 8%;
	background-color: #ffffff;
	color: #4d0028;
}
.btnInputs:hover {
	background-color: #4d0028;
	color: #ffffff;
	border: 2px solid #ffffff;
}
/* list of social media logos */
.fa-ul {
	margin-top: 40px;
}
/* each social media icon displaying inline */
.socialMediaList {
	display: inline;
	margin: 15px;
}
/* Linkedin logo*/
#linkedin {
	background-color: #ffffff;
	color: #007bb6;
	border-radius: 25%;
}
#linkedin:hover {
	background-color: #007bb6;
	color: #ffffff;
}
/* Facebook logo */
#facebook {
	background-color: #ffffff;
	color: #3B5998;
	border-radius: 25%;	  
}
#facebook:hover {
	background-color: #3B5998;
	color: #ffffff;	  
}
/* Twitter logo */
#twitter {
	background-color: #ffffff;
	color: #33CCFF;
	border-radius: 25%;
}
#twitter:hover {
	background-color: #33CCFF;
	color: #ffffff;	  	  
}
/* Github logo */
#github {
	background-color: #ffffff;
	color: #000000;
	border-radius: 25%;
}
#github:hover {
	background-color: #000000;
	color: white;	  
}
/* FreeCodeCamp logo */
#freeCodeCamp {
	background-color: #ffffff;
	color: #006400;
	border-radius: 25%;	  
}
#freeCodeCamp:hover {
	background-color: #006400;
	color: #ffffff;	  
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
/* styling for tablets ans phones */
@media screen and (max-width: 768px) {
	#contactContainer {
		width: 90%;
		padding: 0;
	}
	.fa-ul {
	    margin-top: 15px;		
	}
	#contactHrLine {
		width: 90%;
	}
}