/* CONTACT section */

/* container of the whole section */
#contact {
  background-image: url("../pictures/contact/computer.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	opacity: 0.9;
}
/* container for writing the contact area */
#containerContact {
	width: 70%;
	padding: 55px 0 40px 0;
}
/* Headers of the content */
.contactHeader {
	color: #ffffff;
	font-weight: bold;
  text-shadow: 5px 5px 5px #000000;
  font-family: 'Spectral SC', serif;
}
/* horizonal line of the header */
#contactHrLine {
	  width: 35%;
	  height: 5px;
	  color: #ffffff;
	  margin-top: 0;
    border-bottom: 4px solid #000000;
    border-radius: 20px/5px;
}

/* subheaders */
.contactSubheaders {
	color: white;
  margin-top: 10px;
	font-weight: bold;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;	/* making a border */
}
/* the 3 inputs and the textarea of the contact's form*/
.form-control {
	border-radius: 20px/5px;
  box-sizing: border-box; /* padding and borders are included in the total width and height of the elements */
  border-bottom: 2px solid #4d0028;
  font-size: 18px;
  padding: 10px 15px;
  height: 1%;
  color: #000000;
}
.form-control:focus {
	border: 2px solid #4d0028;
}
/* the 2 buttons of the contact's form */
.btnInputs {
  font-size: 18px;
	border: 2px solid #4d0028;
	border-radius: 20px/5px;
	width: 30%;
	margin: 0 8%;
	background-color: #ffffff;
	color: #4d0028;
}
.btnInputs:hover {
	background-color: #4d0028;
	color: #ffffff;
	border: 2px solid #ffffff;
}

/* styling for tablets ans phones */
@media screen and (max-width: 768px) {
	#containerContact {
		width: 90%;
	}
  .contactHeader {
    font-size: 28px;
  }
  .btnInputs {
    font-size: 16px;
  }
	.fa-ul {
	    margin-top: 15px;
	}
	#contactHrLine {
		width: 90%;
	}
}
