/* FOOTER SECTION */

/* container */
footer {
	height: auto;
	background-color: #c0c0c0;
}
/* each column of the footer */
.footerColumns {
	margin: 50px 0;
}
#footerRightHeader {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: bold;
}
/* every <li> of the social media list */
#footerUl {
	padding-left: 0;
}
.footerSocialMediaList {
	display: inline;
	list-style-type: none;
}
/* Linkedin logo*/
#linkedin {
	color: #007bb6;
}
#linkedin:hover {
	color: #ffffff;
}
/* Facebook logo */
#facebook {
	color: #3B5998;
}
#facebook:hover {
	color: #ffffff;
}
/* Twitter logo */
#twitter {
	color: #33CCFF;
}
#twitter:hover {
	color: #ffffff;
}
/* Github logo */
#github {
	color: #000000;
}
#github:hover {
	color: white;
}
/* FreeCodeCamp logo */
#freeCodeCamp {
	color: #006400;
}
#freeCodeCamp:hover {
	color: #ffffff;
}
