/* HOME SECTION */
/* <header> */
#home {
  background-image: url("../pictures/office1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;
	margin-top: 60px;
}

/* left column */
#homeRightContainer {
	padding-right: 60px;
  margin-bottom: 100px;
  animation-name: leftColumn;
  -webkit-animation-name: leftColumn;
  -moz-animation-name: leftColumn;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
}
/* manage animation of #oscarPhoto */
@keyframes leftColumn {
	from {
	  margin-left: -500px;
	}
	to {
		margin-left: 0;
	}
}
@-webkit-keyframes leftColumn {
  from {
	  margin-left: -500px;
	}
	to {
		margin-left: 0;
	}
}
@-moz-keyframes leftColumn {
  from {
	  margin-left: -500px;
	}
	to {
		margin-left: 0;
	}
}
/* Main title: hi world */
#homeTitle {
	margin-top: 120px;
  color: #4d0028; /* same that navbar */
  font-size: 70px;
}
/* title: my name */
#homeTitleMyName {
	margin-top: 20px;
  color: #4d0028; /* same that navbar */
  font-size: 50px;
}
/* titles: my profesion */
.homeTitleProfesion {
	margin-top: 20px;
  color: #000000;
  font-size: 20px;
}

/* Right column: circle image about me */
#oscarPhoto {
	border: 2px solid #4d0028;
	margin: 100px auto;
  position: relative; /* to be able to move it during the animation */
	display: block; /* mandatory when we use margin: auto to center the image */
	animation-name: myPhoto;
	-webkit-animation-name: myPhoto;
	-moz-animation-name: myPhoto;
	animation-duration: 5s;
	-webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
}
/* manage animation of #oscarPhoto */
@keyframes myPhoto {
	from {
	    margin-top: -500px;
	}
	to {
		margin: 100px auto;
	}
}
@-webkit-keyframes myPhoto {
	from {
	    margin-top: -500px;
	}
	to {
		margin: 100px auto;
	}
}
@-moz-keyframes myPhoto {
	from {
	    margin-top: -500px;
	}
	to {
		margin: 100px auto;
	}
}

/* when sreen is smaller than 768 px */
@media screen and (max-width: 768px) {
	#homeRightContainer {
    height: 300px;
	  padding-right: 5%;
  }
  #homeTitle {
    margin-top: 60px;
  }
	#homeTitle, #homeTitleMyName, .homeTitleProfesion {
	  text-align: center;
  }
	#oscarPhoto {
		width: 90%;
		height: 90%;
	  margin: 40px auto;
	}
}
