.panelBodyTools {
  position: relative;
}
/* Horizontal lines */
#hr1Tools {
  position: absolute;
  top: -5px;
  left: 65px;
  width: 80%;
}
#hr2Tools {
  position: absolute;
  left: 65px;
  top: 45px;
  width: 80%;
}
#hr3Tools {
  position: absolute;
  left: 65px;
  top: 95px;
  width: 80%;
}
#hr4Tools {
  position: absolute;
  left: 65px;
  top: 145px;
  width: 80%;
}
#hr5Tools {
  position: absolute;
  left: 65px;
  top: 195px;
  width: 80%;
}
#hr6Tools {
  position: absolute;
  left: 65px;
  top: 245px;
  width: 80%;
}

/*Vertical Axis: Tech Names */
.vAxisTools {
  position: absolute;
  border-right: 1px solid #000000;
}
.vAxisTools img {
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}
.vAxisTools img:first-child {
  margin-top: 5px;
}
.vAxisTools img:nth-child(4) {
  margin-top: 20px;
}
.vAxisTools img:nth-child(5) {
  margin-top: 20px;
}
/* Horizontal axis: Level */
.xAxisTools {
  position: absolute;
  left: 65px;
  top: 320px;
  border-top: 1px solid #000000;
  padding-top: 10px;
}
.xAxisToolsText {
  margin: 10px 20px;
  font-weight: bold;
}
/* bars */
#bar1Tools {
  position: absolute;
  left: 65px;
  top: 270px;
  width: 0;
  height: 45px;
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
}
.panel:hover .panel-body div #bar1Tools {
  width: 290px;
  background-color: blue;
}
#bar2Tools {
  position: absolute;
  left:  65px;
  top: 220px;
  width: 0;
  height: 40px;
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
}
.panel:hover .panel-body div #bar2Tools {
  width: 290px;
  background-color: blue;
}
#bar3Tools {
  position: absolute;
  left:  65px;
  top: 170px;
  width: 0;
  height: 40px;
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
}
.panel:hover .panel-body div #bar3Tools {
  width: 290px;
  background-color: blue;
}
#bar4Tools {
  position: absolute;
  left:  65px;
  top: 120px;
  width: 0;
  height: 40px;
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
}
.panel:hover .panel-body div #bar4Tools {
  width: 200px;
  background-color: blue;
}
#bar5Tools {
  position: absolute;
  left:  65px;
  top: 70px;
  width: 0;
  height: 40px;
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
}
.panel:hover .panel-body div #bar5Tools {
  width: 290px;
  background-color: blue;
}
#bar6Tools {
  position: absolute;
  left:  65px;
  top: 20px;
  width: 0;
  height: 40px;
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
}
.panel:hover .panel-body div #bar6Tools {
  width: 290px;
  background-color: blue;
}
@media screen and  (max-width: 590px) {
  .xAxisToolsText {
    margin: 5px;
  }
  .panel:hover .panel-body div #bar6Tools {
    width: 215px;
    background-color: blue;
  }
  .panel:hover .panel-body div #bar5Tools {
    width: 215px;
    background-color: blue;
  }
  .panel:hover .panel-body div #bar4Tools {
    width: 140px;
    background-color: blue;
  }
  .panel:hover .panel-body div #bar3Tools {
    width: 215px;
    background-color: blue;
  }
  .panel:hover .panel-body div #bar2Tools {
    width: 215px;
    background-color: blue;
  }
  .panel:hover .panel-body div #bar1Tools {
    width:215px;
    background-color: blue;
  }
}
/* styling for tablets and phones */
@media screen and  (max-width: 420px) {
  .vAxisTools {
  width: 10%;
  height: 210px;
  }
  .vAxisTools img {
    margin-right: 2px;
  }
  .vAxisTools img:nth-child(4) {
    margin-top: 15px;
  }
  .vAxisTools img:nth-child(5) {
    margin-top: 15px;
  }
  .xAxisTools {
    left: 41px;
    top: 225px;
    padding-top: 5px;
  }
  .xAxisToolsText {
    font-size: 10px;
    margin: 0;
  }
  #hr1Tools {
    top: -5px;
    left: 40px;
    width: 80%;
  }
  #hr2Tools {
    left: 40px;
    top: 30px;
    width: 80%;
  }
  #hr3Tools {
    left: 40px;
    top: 65px;
    width: 80%;
  }
  #hr4Tools {
    left: 40px;
    top: 100px;
    width: 80%;
  }
  #hr5Tools {
    left: 40px;
    top: 135px;
    width: 80%;
  }
  #hr6Tools {
    left: 40px;
    top: 170px;
    width: 80%;
  }
  #bar6Tools {
    left: 42px;
    top: 20px;
    height: 25px;
  }
  .panel:hover .panel-body div #bar6Tools {
    width: 130px;
    background-color: blue;
  }
  #bar5Tools {
    left: 42px;
    top: 55px;
    height: 25px;
  }
  .panel:hover .panel-body div #bar5Tools {
    width: 130px;
    background-color: blue;
  }
  #bar4Tools {
    left: 42px;
    top: 90px;
    height: 25px;
  }
  .panel:hover .panel-body div #bar4Tools {
    width: 90px;
    background-color: blue;
  }
  #bar3Tools {
    left: 42px;
    top: 125px;
    height: 25px;
  }
  .panel:hover .panel-body div #bar3Tools {
    width: 130px;
    background-color: blue;
  }
  #bar2Tools {
    left: 42px;
    top: 160px;
    height: 25px;
  }
  .panel:hover .panel-body div #bar2Tools {
    width: 130px;
    background-color: blue;
  }
  #bar1Tools {
    left: 42px;
    top: 195px;
    height: 25px;
  }
  .panel:hover .panel-body div #bar1Tools {
    width: 130px;
    background-color: blue;
  }
}
