/* PORTFOLIO section */

/* Portfolio section container */
#portfolio {
	background-image: url("../pictures/portfolio/woodenWall.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* <div> container */
#containerPortfolio	{
	padding: 55px 15px 40px 15px;
}
/* header */
#portfolioHeader {
	color: #ffffff;
	font-weight: bold;
  text-shadow: 5px 5px 5px #000000;
	ont-family: 'Spectral SC', serif;
}
/* <hr> */
#portfolioHrLine {
	width: 30%;
	height: 5px;
	color: #FFFFFF;
	margin-top: 0;
	border-bottom: 4px solid #000000;
	border-radius: 20px/5px;
}
/* row */
.portfolioRow {
	margin-top: 50px;
	margin-bottom: 50px;
}
/* container for the projects */
.card {
	position: relative;
	width: 100%;
	background-color: #ffffff; /* white, so when it is ovelaid the color is not as the #portfolio background */
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
	margin-top: 20px;
}
/* portfolio's images */
.portfolioImages {
	width: 100%;
	height: 100%;
	display: block;
}
/* container hidden within the card */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 10px 20px;
	transition: 0.5s ease-in-out; /* i like more withoout it */
}
/* add some transparency in the images when the card is hovered */
.card:hover .portfolioImages {
	opacity: 0.3;

}
/* show the container .overlay when the card is hovered*/
.card:hover .overlay {
	opacity: 1;
}
/* style the text in the .overlay container */
.overlayText {
  color: #4d0028;
	text-align: justify;
}
/* style the buttons of .overlay */
.overlayButtons {
	border: 2px solid #ffffff;
	background-color: #4d0028; /* navbar color */
	border-radius: 20px/5px;
	color: #ffffff;
	margin: 10px;
	width: 40%;
}
.overlayButtons:hover {
	border: 2px solid #4d0028; /* white */
  color: #4d0028;
  background-color: #ffffff;
}
/* style the caption of the card */
.caption {
	background-color: white;
	width: 100%;
	margin: auto;
	padding: 10px;
	height: auto;
}
/* style the name of the project */
.projectName {
	font-weight: bold;
	font-family: 'Spectral SC', serif;
}
/* style the images of the techlogy used */
.technologyLogos {
    display: inline;
}
/* styling in tablets and phones */
@media screen and (max-width: 768px) {
	#portfolioHeader {
		font-size: 30px; /* 2em by default */
	}
	#portfolioHrLine {
		width: 90%;
	}
	.overlayText {
		font-size: 12px;
        line-height: 1.25;
	}
	.overlayButtons  {
        font-size: 12px;
        padding: 6px;
	}
}
