/* PORTFOLIO section */
    /* Portfolio section container */
	#portfolio {
	    background: red;
	    height: auto;
	  	padding: 60px 0;
	}
	
	/* container for the projects */
	.card {
	 position: relative;
	 width: 100%;
	 margin: auto;
	 background-color: white;
	 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
	 -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);	
	 -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);	 
	 margin: 20px 0;
	}
	
	/* portfolio's images */
	.portfolioImages {
	  width: 100%;
	  height: auto;
	  display: block;
	}
	
	/* container hidden within the card */
	.overlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  opacity: 0;
	  padding: 20px;
	  transition: 0.5s ease-in-out;
	}
	
	/* show the container when the card is hovered*/
	.card:hover .overlay {
	  opacity: 1;
	}
	
	/* add some transparency in the images when the card is hovered */
	.card:hover .portfolioImages {
	  opacity: 0.7;
	}
	
	/* style the text in the overlay container */
	.overlayText {
	  color: white;
	  text-align: justify;	  
	}
	
	/* style the buttons */
	.overlayButtons {
	  border: 1px solid brown;
	  background-color: white;
	  color: brown;
	  margin: 20px;
	  width: 35%;
	}
	.overlayButtons:hover {
	  border: 1px solid white;
      color: white;
      background-color: brown;	  
	}
	
	/* style the caption of the card */
	.caption {
	  background-color: white;
	  width: 100%;
	  margin: auto;
	  padding: 10px;
	  height: auto;
	}
	
	/* style the name of the project */
	.portfolioHeaders {
	  font-weight: bold;
	}
	
	/* style the images of the techlogy used */
	.technologyLogos {
      display: inline;
	}